* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;
  }
}

body {
  font-family: "Bookman Old Style", Georgia, serif !important;
}

.main {
  margin-top: 40px;
}

.lico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.data {
  position: absolute;
  top: 0%;
  left: 40%;
  z-index: 1;
}

.posts {
  display: flex;
  align-items: center;
  max-width: 200px;
  max-height: 300px;
  flex-direction: column;
}

.post-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.edde {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.allPosts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  max-width: max-content;
  margin: 0.5rem;
}

.card-text {
  overflow: hidden;
  height: 200px;
  border-top: 1px dashed gray;
}

.card-text:hover {
  overflow: auto;
}

.download {
  display: flex;
  margin: 5px 0 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.download a {
  font-weight: bold;
  text-decoration: none !important;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  display: inline;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 1s linear infinite;
}

@keyframes gradientAnimation {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.d-flex {
  height: 100vh;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background:before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #24ff6d, #2f93f1, #ff5e9a);
  top: 7.5%;
  left: 20%;
  bottom: 7.5%;
  right: 20%;
  background-size: 200% 200%;
  z-index: -1;
  filter: blur(40px);
  animation: glowing 7s ease-in-out infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 50%;
  }

  25% {
    background-position: 25% 75%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 75% 25%;
  }

  100% {
    background-position: 0 50%;
  }
}

.delOne {
  position: absolute;
  width: 280px;
  top: 40%;
  left: 40%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  background: whitesmoke;
  z-index: 1;
}

.loader {
  position: absolute;
  top: 30%;
  right: 40%;
  z-index: 1;
}

.tablescroll {
  height: 375px;
  overflow: auto;
  border: 2px dashed gray;
}

@media screen and (max-width: 1366px) {
  .loader {
    position: absolute;
    top: 30%;
    right: 43%;
  }
}

@media screen and (max-width: 1280px) {
  .data {
    position: absolute;
    top: -5%;
    left: 39%;
    margin: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .delOne {
    left: 37%;
  }

  .data {
    position: absolute;
    top: 0%;
    left: 36%;
  }
}

@media screen and (max-width: 820px) {
  .delOne {
    left: 35%;
  }

  .data {
    position: absolute;
    top: -18%;
    left: 31%;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 38%;
  }
}

@media screen and (max-width: 768px) {
  .delOne {
    left: 30%;
  }

  .data {
    position: absolute;
    top: 6%;
    left: 32%;
  }

  .logout {
    flex-direction: column;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 37%;
  }
}

@media screen and (max-width: 540px) {
  .delOne {
    left: 23%;
  }

  .data {
    position: absolute;
    top: 0%;
    left: 23%;
  }

  .logout {
    flex-direction: column;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 30%;
  }
}

@media screen and (max-width: 430px) {
  .delOne {
    left: 14%;
  }

  .data {
    position: absolute;
    top: 0%;
    left: 17%;
  }

  .logout {
    flex-direction: column;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 26%;
  }
}

@media screen and (max-width: 414px) {
  .data {
    position: absolute;
    top: 0%;
    left: 17%;
  }

  .logout {
    flex-direction: column;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 25%;
  }
}

@media screen and (max-width: 412px) {
  .data {
    position: absolute;
    top: 0%;
    left: 16%;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 26%;
  }
}

@media screen and (max-width: 390px) {
  .data {
    position: absolute;
    top: 0%;
    left: 15%;
  }
}

@media screen and (max-width: 375px) {
  .delOne {
    left: 11%;
  }

  .data {
    position: absolute;
    top: 0%;
    left: 12%;
  }

  .logout {
    flex-direction: column;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 20%;
  }
}

@media screen and (max-width: 360px) {
  .data {
    position: absolute;
    top: 0%;
    left: 11%;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 22%;
  }
}

@media screen and (max-width: 280px) {
  .delOne {
    width: 200px;
    left: 10%;
  }

  .data {
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 10px;
  }

  .loader {
    position: absolute;
    top: 30%;
    right: 15%;
  }
}
